Package: grafana-enterprise
Version: 9.5.1
License: unknown
Vendor: Grafana Enterprise
Architecture: amd64
Maintainer: contact@grafana.com
Installed-Size: 293059
Depends: adduser, libfontconfig1
Conflicts: grafana
Section: default
Priority: optional
Homepage: https://grafana.com
Description: Grafana
